@model rafaelrozon.Models.Email

@{
    ViewBag.Title = "Contact";
}
@section styles{
    @Styles.Render("~/Content/contact")
}
<div class="center contactArea">


    <div class="contactForm">
        <div class="introHeader">
            <h2>Say hi!</h2>
        </div>

        @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { id = "emailForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(excludePropertyErrors: true)

           <div id="validationMsg">
               @Html.ValidationMessageFor(Model => Model.Name)
               @Html.ValidationMessageFor(Model => Model.From)
               @Html.ValidationMessageFor(Model => Model.Body)
           </div>

           
           
            <table>
                <tr>
                    <td>@Html.TextBoxFor(Model => Model.Name, new { placeholder = "your name", Class = "inputField"})</td>
                        

                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(m=>m.From, new { type = "email", placeholder = "your email", Class = "inputField", required = "true" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextAreaFor( m=>m.Body,  new { cols = "20", rows = "6", placeholder = "your message", Class = "inputField", required = "true" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="btnSendEmail" type="submit" value="submit" />
                    </td>
                </tr>
            </table>
        }
    </div>



    <div class="clear-fix"></div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

<!-- /end of main content -->