<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Rafael Rozon | Developer</title>
    @Styles.Render("~/Content/global")
    @Scripts.Render("~/bundles/jquery")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    @if (IsSectionDefined("styles"))
    {
        @RenderSection("styles", required: false)
    }

    <!--[if lt IE 9]>
        <script src="~/Scripts/html5Shiv/html5shiv.min.js"></script>
    <![endif]-->  
    
</head>
<body>
    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
     <div class="wrapper">
        <div class="headerContainer">
            <article class="intro">
                 <p>
                     My name is <strong>Rafael Rozon</strong>, I am a software developer, and welcome to my web site. 
                     I am from Brazil, but I currently live in the beautiful British Columbia, Canada,
                      where I recently graduate from the British Columbia Institute of Technology in
                      Information Systems. Feel free to see my work and drop a line.
                </p>
            </article>
            <nav>
                @Html.ActionLink("Home", "Index", "Home")
                @Html.ActionLink("About", "About", "Home")
                @Html.ActionLink("Contact", "Contact", "Home") 
                <a href="http://blog.rafaelrozon.com/" target="_blank">Blog</a>
            </nav>

            <div class="footerContainerFaux">
                <div class="socialMedia">
                    <a href="http://ca.linkedin.com/in/rafaelrozon">
                        <i id="lk" class="fa fa-linkedin glyphsSocialMedia"></i>
                    </a>
                    <a href="http://www.facebook.com/rozondev">
                        <i id="fb" class="fa fa-facebook-official glyphsSocialMedia"></i>
                    </a>
                    <a href="https://github.com/rafaelrozon">
                        <i id="gh" class="fa fa-github glyphsSocialMedia"></i>
                    </a>
                    <a href="https://twitter.com/rafaelrozon">
                        <i id="tw" class="fa fa-twitter glyphsSocialMedia"></i>
                    </a>
                    <a href="http://stackoverflow.com/users/2869902/rafael-rozon">
                        <i id="so" class="fa fa-stack-overflow glyphsSocialMedia"></i>
                    </a>
                    <a href="https://www.flickr.com/photos/rafael_rozon/">
                        <i id="fl" class="fa fa-flickr glyphsSocialMedia"></i>
                    </a>
                </div>
                <footer>
                    <div id="fbBtnLargeScreens" class="fb-like" data-href="https://www.facebook.com/rozondev" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

                    <p>Copyright 2015 &copy; Rafael Rozon</p>
                </footer>
            </div>
            <div class="clear-fix"></div>


        </div><!--/headerContainter-->
        <div class="mainContainer">
            <div class="innerMain">
                @RenderBody()
            </div>
            <div class="clear-fix"></div>

        </div><!--/mainContainer-->
        <div class="footerContainer">
            <div class="socialMedia">
                <a href="http://ca.linkedin.com/in/rafaelrozon">
                    <i id="lk" class="fa fa-linkedin glyphsSocialMedia"></i>
                </a>
                <a href="http://www.facebook.com/rozondev">
                    <i id="fb" class="fa fa-facebook-official glyphsSocialMedia"></i>
                </a>
                <a href="https://github.com/rafaelrozon">
                    <i id="gh" class="fa fa-github glyphsSocialMedia"></i>
                </a>
                <a href="https://twitter.com/rafaelrozon">
                    <i id="tw" class="fa fa-twitter glyphsSocialMedia"></i>
                </a>
                <a href="http://stackoverflow.com/users/2869902/rafael-rozon">
                    <i id="so" class="fa fa-stack-overflow glyphsSocialMedia"></i>
                </a>
                <a href="https://www.flickr.com/photos/rafael_rozon/">
                    <i id="fl" class="fa fa-flickr glyphsSocialMedia"></i>
                </a>
            </div>
            <footer>
                <p>Copyright 2015 &copy; Rafael Rozon</p>
                <div id="fbBtnSmallScreens" class="fb-like" data-href="https://www.facebook.com/rozondev" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
            </footer>
        </div>
        <div class="clear-fix"></div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>